/*ESTILOS GENERALES*/

*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

#header{
    height:60px;
    width:100%;
    background-color:#7a95b2;
}

#menu{
  float: right;
}

#menu ul li{
  font-size: 24px;
  display: inline-block;
  margin: 0px 30px 0px 20px;
  letter-spacing: 1px;
  line-height: 60px;
}

#menu ul li a{
  display: block;
  color: white;
  text-decoration: none;
  transition: all 200ms;
}

#menu ul li a:hover{
  transform: scale(1.2, 1.2);
}

/*MAIN SECTION*/

#main{
    min-height:500px;
    width:100%;
    padding-top:100px;
}

#insert{
    width:50%;
    float:left;
}

#list{
    width:50%;
    float:left;
}


#main #insert form{
    width:400px;
    height:380px;
    border: 1px solid #ccc;
    margin:0px auto;
    padding-top:30px;
    border-radius: 15px;
}

input[type="text"],
textarea{
    display: block;
    width: 280px;
    margin: 0px auto;
    margin-bottom:10px;
    padding:10px;
}

textarea{
   resize: none;
   height:130px;
}

#checkbox{
   text-align:center;
}

.btn{
    display: block;
    width: 215px;
    height: 35px;
    margin: 0px auto;
    margin-top:10px;
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca);
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size:18px;
}

.btn:hover{
      box-shadow: 0px 0px 3px gray;
}

h1{
    text-align:center;
    margin-bottom:70px;
    font-size:50px;
}

table{
    font-size: 18px; 
    width: 600px;
    text-align: left;
    border-collapse: collapse;
}

th{     
    font-size: 24px; 
    font-weight: bold;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039; 
}

td{ padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent; 
}

tr:hover td { 
    background: #d0dafd;
    color: #339; 
}

.icon{
    width:20px;
    height:20px;
    margin-right:5px;
}

/*FOOTER*/

#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height:60px;
    background-color:#3a88df;
    text-align: center;
}

#footer span{
    font-size:24px;
    line-height:60px;
}